{% extends "socios/base.html" %}
{% load static %}
{% block title %} Mis pagos {% endblock %}

{% block content %}
<div class="container-xl px-4 mt-4">
    
    <div class="row">
        <div class="col-lg-6 mb-4">
            <!-- Billing card 1-->
            <div class="card h-100 border-start-lg border-start-primary">
                <div class="card-body">
                    <div class="small text-muted">Mensualidad actual</div>
                    <span class="row p-2"><div class="h3">${{socio.get_grupo_familiar.cuota_movil_total}}</div> <div class="h3"> + </div> <div class="h3 span">${{socio.get_grupo_familiar.cuota_fija_total}}</div><div class="h3"> = </div><div class="h3">${{socio.get_grupo_familiar.cuota_movil_total | add:socio.get_grupo_familiar.cuota_fija_total}}</div></span>
                    <div class="small text-muted">Cuota movil + Cuota fija = Total</div>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-4 mb-4">
            <div class="card h-100 border-start-lg border-start-secondary">
                <div class="card-body">
                    <div class="small text-muted">Next payment due</div>
                    <div class="h3">July 15</div>
                    <a class="text-arrow-icon small text-secondary" href="#!">
                        View payment history
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                    </a>
                </div>
            </div>
        </div> -->
        <div class="col-lg-6 mb-4">
            <!-- Billing card 3-->
            <div class="card h-100 border-start-lg border-start-success">
                <div class="card-body">
                    <div class="small text-muted">Por pagar este mes</div>
                    <div class="h3 d-flex align-items-center mt-1">${{socio.get_grupo_familiar.balance_mes_actual}}</div>
                    <a class="text-arrow-icon small text-success" href="#!">
                        Al día
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Payment methods card-->
    <!-- <div class="card card-header-actions mb-4">
        <div class="card-header">
            Métodos de pago
            <a href="{% url 'socio-pagar' %}" class="btn btn-sm btn-primary" type="button">Nuevo metodo de pago</a>
        </div>
        <div class="card-body px-0">

            <div class="d-flex align-items-center justify-content-between px-4">
                <div class="d-flex align-items-center">
                     <i class="fab fa-cc-visa fa-2x cc-color-visa"></i>
                    <div class="ms-4 ml-4">
                        <div class="small">Visa ending in 1234</div>
                        <div class="text-xs text-muted">Expires 04/2024</div>
                    </div>
                </div>
                <div class="ms-4 small">
                    <div class="badge bg-light text-dark me-3">Default</div>
                    <a href="#!">Edit</a>
                </div>
            </div>
            <hr>
  
            <div class="d-flex align-items-center justify-content-between px-4">
                <div class="d-flex align-items-center">
                    <i class="fab fa-cc-mastercard fa-2x cc-color-mastercard"></i>
                    <div class="ms-4 ml-4">
                        <div class="small">Mastercard ending in 5678</div>
                        <div class="text-xs text-muted">Expires 05/2022</div>
                    </div>
                </div>
                <div class="ms-4 small">
                    <a class="text-muted me-3" href="#!">Make Default</a>
                    <a href="#!">Edit</a>
                </div>
            </div>
            <hr>

            <div class="d-flex align-items-center justify-content-between px-4">
                <div class="d-flex align-items-center">
                    <i class="fab fa-cc-amex fa-2x cc-color-amex"></i>
                    <div class="ms-4">
                        <div class="small">American Express ending in 9012</div>
                        <div class="text-xs text-muted">Expires 01/2026</div>
                    </div>
                </div>
                <div class="ms-4 small">
                    <a class="text-muted me-3" href="#!">Make Default</a>
                    <a href="#!">Edit</a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Billing history card-->
    <div class="card mb-4">
        <div class="card-header">Historial de pagos <a href="{% url 'socio-pagar' %}" class="btn btn-sm btn-primary" type="button">Nuevo pago</a></div>
        
        <div class="card-body p-0">
            <!-- Billing history table-->
            <div class="table-responsive table-billing-history">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th class="border-gray-200" scope="col">ID Transacción</th>
                            <th class="border-gray-200" scope="col">Fecha</th>
                            <th class="border-gray-200" scope="col">Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pago in socio.get_grupo_familiar.get_historial_pagos %}
                        <tr>
                            <td>#{{pago.id}}</td>
                            <td>{{pago.fecha}}</td>
                            <td>${{pago.monto}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{%endblock%}