{% extends "core/base.html" %}
{% load static %}
{% block estilo %}<link rel="stylesheet" href="{% static 'core/css/actividades.css' %}">{% endblock %}
{% block titulo_pagina %} Actividades {% endblock %}
<!-- {% block title %} Actividades {% endblock %} -->
{% block content %}
    <div id="content-cards">
        {% for actividad in lista_actividades %}
            <div class="cards">
                <a href="http://127.0.0.1:8000/AppMyClub/detalle_actividad/{{actividad}}"><h2>{{ actividad | title}}</h2></a>
            </div>
        {%endfor%}
    </div>
    
{% endblock %}
