{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    {% block extra_css %}{%endblock%}
</head>
<body>
    <header></header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer></footer>
    {% block extra_js %}{%endblock%}
</body>
</html>