{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> AppMyClub - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/css/styles_base.css'%}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        
        <nav class="nav">
            <a class="nav--logo--link" href="{% url 'index'%}"><img id="nav--logo" src="{% static 'core/img/club-de-futbol.png' %}" alt="Logo"></a>
            <button class="nav--toggle"><img class="nav--toggle--img" src="{% static 'core/img/lista.png' %}" alt="imagen boton"></button>
            <ul class="nav--ul nav--ul--visible">
              <li class="nav--ul--item"><a href="{% url 'index'%}" class="nav--ul--link nav--link">HOME</a></li>
              <li class="nav--ul--item"><a href="{% url 'AppMyClub_institucional'%}" class="nav--ul--link nav--link">Institucional</a></li>
              <li class="nav--ul--item"><a href="{% url 'actividades'%}" class="nav--ul--link nav--link">Actividades</a></li>
              <li class="nav--ul--item"><a href="{% url 'Socios_login'%}" class="nav--ul--link nav--link">Socios</a></li>
              <li class="nav--ul--item"><a href="{% url 'AppMyClub_contacto'%}" class="nav--ul--link nav--link">contacto</a></li>
              
            </ul>
        </nav> 
    
    </header>
    
    
    <main>
        {% block content %}{% endblock %}
        {% block extra_js %}{% endblock %}
    </main>
    <footer>
        <div class="footer--contenedor--cuerpo">

            <div class="footer_integrantes footer--contenedor">
              <br>
              <a href="https://www.buenosaires.gob.ar/educacion/codo-codo" class="textfooter footer_integrantes_link">CaC Django C23655 - Grupo 2</a>
              <p class="textfooter">Mamaní Mirta - Rutenberg Guilherme - Ocampo Gustavo - Trentino Juan - Roldán Natalia</p>
            </div>
            <div class="footer_redes footer--contenedor">
              <p class="textfooter footer_redes_p">Síguenos en las redes sociales:</p>
              <a class="footer_redes_link" target="_blank" href="https://es-la.facebook.com/"> <img class="footer_redes_logos" width="20px" src="{% static 'core/img/facebook.png'%}" alt="facebook"></a>
              <a class="footer_redes_link" target="_blank" href="https://www.instagram.com/"> <img class="footer_redes_logos" width="20px" src="{% static 'core/img/instagram.png' %}" alt="Instagram"></a>
              <a class="footer_redes_link" target="_blank" href="https://www.whatsapp.com/"><img class="footer_redes_logos" width="20px" src="{% static 'core/img/whatsapp.png' %}" alt="whatsapp"></a>
              
            
            </div>
        </div>
            <div id="footer--copy footer--contenedor--copy">
              <p class="textfooter footer--copy--text">AppMyClub - @Copyright 2023</p>
            </div>
        <!--<p>Codo a Codo 2023</p>!-->
    </footer>
    <script src="{% static 'core/js/contacto.js' %}"></script>
    <script src="{% static 'core/js/base.js' %}"> </script>
</body>
</html>