{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    {% block estilo %}{% endblock %}
    <title>Document</title>
</head>
<body>
    <div class="nav-container">
        <header>
            <nav class="navbar">
                <div class="titulo">
                    <h2> MyClub</h2>
                </div>
                <ul class="menu">
                    <li><a id="enlace1" href="#">Institución</a></li>
                    <li><a id="enlace2" href="#">Actividades</a></li>
                    <li><a id="enlace3" href="#">Contacto</a></li>
                    <li><a href="{% url 'socios_login' %}">Socios</a></li>
                </ul>
            </nav>
        </header>
    </div>

    

    <main>
        <h1> 
            {% block title %} {% endblock %}
        </h1>
        {% block content %} {% endblock %}
    </main>

    <footer><h2>Todos los derechos reservados - MyClub</h2></footer>
    
</body>
</html>