{% load static %}

<div class="bg-dark p-3 ">
    <div class="row justify-content-between">
      <p class="navbar-brand p-3">
        <img src="{% static 'core/img/escudo.png' %}" width="30" height="30" alt=""> SuperClub
      </p>

      <div class="row justify-content-between p-2 m-2">
        <h4>Siguenos en</h4>
        <span>
        <a href="">
          <i class="fab fa-twitter-square fa-lg border border-white rounded-circle p-2 ml-2" style="color: #4894db;"></i>  
        </a>
        <a href="">
          <i class="fab fa-facebook-square fa-lg border border-white rounded-circle p-2 ml-2" style="color: #b3cfff;"></i>
        </a>
        <a href="">
          <i class="fab fa-instagram fa-lg border border-white rounded-circle p-2 ml-2" style="color: #e92556;"></i>
        </a>
        </span>
      </div>
    
    </div>
    <nav class="navbar navbar-expand navbar-dark">
        
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
          <div class="navbar-nav row justify-content-center">
            <a class="nav-item nav-link active mx-4" href="{% url 'index' %}">Inicio<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active mx-4" href="{% url 'core-actividades' %}">Actividades <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active mx-4" href="{% url 'core-institucional' %}">Institucional<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active mx-4" href="{% url 'login' %}">Login<span class="sr-only">(current)</span></a>
          </div>
        </div>
    </nav>
    
    <hr class="hr w-75">
    
    <p class="text-center">© 2023 SuperClub, Inc</p>
</div>