{% load static %}

<nav class="navbar navbar-expand-lg navbar-light p-3 sticky-top position-sm-absolute">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'core/img/escudo.png' %}" width="30" height="30" alt=""> SuperClub
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
      <ul class="navbar-nav justify-content-sm-center">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'index' %}">Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'actividades' %}">Actividades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core-contacto' %}">Contacto</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Socios
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'nuevo_socio' %}">Quiero asociarme</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <a href="{% url 'Socios_login' %}" class="btn btn-primary ml-auto">PORTAL SOCIOS</a>
    </div>
    
  </nav>