{% load static %}

<nav class="navbar navbar-expand-lg navbar-light p-3 sticky-top position-sm-absolute justify-content-sm-between" style="background-color: darkgrey;">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'core/img/escudo.png' %}" width="30" height="30" alt="">  Volver al inicio
    </a>


    <a class="navbar-brand" href="{% url 'index' %}">
        Nombre Usuario <img src="{% static 'core/img/profile.png' %}" width="30" height="30" class="img border rounded-circle">
    </a>
  </nav>

 