.cards{
    display: inline-block;
    height: 300px;
    width: 150px;
    border: solid 1px black;
    border-radius: 5px;
}
#content-cards{
    margin:auto;
    height: 350px;
    width: 90%;
}
/* h1{
    margin:0;
} */
.nav-container{
    position: relative;
}