label {
    display:inline-block;
    width: 80px;
}
.form-group{
    border-radius: 5px;
    border: 1px solid rgb(4, 124, 176);;
    width: 500px;
    padding: 8px;
    
}
.container{
    display:flex;
    justify-content: space-between;
    /*align-items: center;*/
    flex-wrap:wrap;

}
h6{
    color: #b8b3b3;;
}
.datos_club{
    display: inline;
}